<!-- Fixed: ID único pra cada task -->
<% for (var task of tasks){ task = task.get()%>
    <div class="tasks-item">
        <div class="">
            <% if(isDone) { %>
                <form id="complete-task-form-<%= task.id%>" action="/task/<%= task.id%>/toggle" method="POST"><img
                        src="./assets/Ok.svg" alt="" onclick="completeTask('<%= task.id%>')"></form>

                <% } else { %>
                    <form id="complete-task-form-<%= task.id%>" action="/task/<%= task.id%>/toggle" method="POST"
                        onclick="completeTask('<%= task.id%>')">
                        <svg height="30" width="30">
                            <circle cx="15" cy="15" r=10 fill="transparent" stroke="black" stroke-width="2" />
                        </svg>
                    </form>
                    <% } %>

                        <p>
                            <%= task.title%>
                        </p>
                        <p style="font-weight: 700; color: <%= task.statusColor %>;">
                            <%= task.status %>
                        </p>
        </div>
        <div>
            <img src="./assets/Edit.svg" alt="" onclick="toggleTaskFormEdit('<%= task.id%>')">
            <form id="delete-task-form-<%= task.id%>" action="/task/<%= task.id%>/delete" method="POST">
                <img src="./assets/Remove.svg" alt="" onclick="deleteTaskItem('<%= task.id%>')">
            </form>
        </div>
    </div>
    <% } %>